/* You can add global styles to this file, and also import other style files */


.navbar {
  margin-bottom: 0;
}

.bordered {
border: 1px dashed black;
background-color: #eee;
}

#emptybox{
  height: 400px;
  text-align: center;
}

#emptytext{
  margin-top: 60px;
}

#instructions {
  color: gray;
}

img{
  height: 200px;
  width: 170px;
  align-content: center;
}

body{
  background-image: url("background.jpg");
}
